/*NORMALIZE -- RANDALL*/
body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/*END NORMALIZE -- RANDALL*/





/*NAVIGATION -- RANDALL*/

div.menu{
    background: rgba(0, 0, 0, .9);
    position: fixed;
    top:0;
    width: 100%;
    z-index 1000;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, .1);
    margin-top: 0;
}

.navigation{
    list-style: none;
    background:rgba(0, 0, 0, .01);
    overflow: hidden;
    margin-bottom: 0;
}

.navigation a{
    display: block;
    padding 20px 20px;
    text-decoration: none;
    text-align: center;
    padding: 16px;
    font-family: 'Helvetica', sans-serif;
    font-weight:800;
    color: #ccc;
}

.navigation li{
    width: 60%;
    margin: 0 auto;
    padding-top 2%;
    padding-bottom: 2%;
    border-bottom: .2px solid rgba(255, 255, 255, .3);
}

.navigation li:last-of-type{
    border-width: 0;
}

.navigation a:hover{
    background-color: rgba(255, 255, 255, .9);
    color: #000;
}

.menuButton{
    display: none;
}

.menu .navigation{
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

label[for="menuButton"]{
    display: inline-block;
    float: right;
    width: 60px;
    height: 40px;
    background-size: contain;
    cursor: pointer;  
}

label[for="menuButton"]:after{
    content: "";
    position: absolute;
    top: 20px;
    right: 36px;
    width: 15px;
    height: 2.5px;
    background: #fff;
    box-shadow: 
    0 0.3em 0 0 #fff,
    0 0.6em 0 0 #fff;   
}

.menu .menuButton:checked ~ .navigation{
    max-height: 100vh;
}

/* LOGO - Rob */
.home {
    display: inline-block;
    float: left;
}


.home img {
    display: inline-block;
    float: left;
    width: 25vw;
    height: auto;
    padding-top: 5%; 
    padding-bottom: 5%; 
    padding-left: 10%; 
    margin: 0 auto;
}

/* End LOGO - Rob */

.header{
    margin-top: 0;
}

.subscribe{
    text-align: center;
    background-color: darkseagreen;
    width: 120px;
    color: #fff;
    padding: 12px;
    margin: 0 auto;
    border-radius: 10px;
}


/*END NAVIGATION -- RANDALL*/



/*WRAPPER -- RANDALL*/

.wrapper{
    margin: 0;
    margin-top: -20px;
    min-width: 100%;
    min-height: 100%;
    position: relative;
    top 0;
    left 0;
    bottom 100%;
}

/*END WRAPPER -- RANDALL*/

/* Hero Image -- Rob */


.hero-image {
    position: relative; 
    z-index: -1;
    
}
.learn-beekeeping {
    
    position: relative; 
    max-width: 100%; 
}

.beekeeping-title {
    
    position: absolute; 
    left: 15%;
    top: 50%;
    color: white; 
    font-size: 4.9vw; 
    font-family: 'Roboto', sans-serif;
    
}

.animal-button {
    
    position: absolute; 
    left: 15%;
    top: 45%;
    background-color: #158ac4;
    border: none;
    color: white;
    padding: 0.5% 1%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vw;  
    font-family: 'Source Sans Pro', sans-serif;

}



/* End Hero Image -- Rob */

/*****
Tim's CSS
*****/

.food1, .food2, .food3, 
.sponsored1, .sponsored2, .sponsored3, 
.lifestyle1, .lifestyle2, .lifestyle3, 
.animals1, .animals2, .animals3, 
.tech1, .tech2, .tech3, 
.how1, .how2, .how3 {
    position: relative;
}

.mainArticlePic {
    position: relative;
    width: 100%;
}

.sectionTitle {
    position: absolute; 
    left: 15%;
    top: 5%;
    background-color: #158ac4;
    border: none;
    color: white;
    padding: 0.5% 1%;
    text-align: center;
    text-decoration: none;
    font-size: 2vw;  
    font-family: 'Source Sans Pro', sans-serif;
}

.secondaryArticlePic {
    position: relative;
    width: 100%;
}

.articleTitle, .articleTitleSecondary {
    position: absolute; 
    left: 15%;
    top: 30%;
    color: white; 
    font-size: 4vw; 
    font-family: 'Roboto', sans-serif;
    max-width: 75%;
}

.articleDescription, .articleDescriptionSecondary {
    position: absolute; 
    left: 15%;
    top: 70%;
    color: white; 
    font-size: 1.8vw; 
    font-family: 'Roboto', sans-serif;
    max-width: 75%;
}

.artAuthor, .artAuthorSecondary {
    position: absolute; 
    left: 15%;
    top: 90%;
    color: white; 
    font-size: 1vw; 
    font-family: 'Roboto', sans-serif;
}

/**********************************



/*****
Faith's footer

*****/

.nav li {
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
     
}
/********* Media Query (tim) *********/
@media screen and (min-width: 1326px) {
    
    .row1, .row2, .row3 {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .mainArticlePic {
        height: 300px;
        width: 450px;
        overflow: hidden;
    }
    .secondaryArticlePic {
        height: 148px;
        width: 200px;
        justify-content: center;
        overflow: hidden;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        flex-basis: auto;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
    }
    .sectionTitle {
        position: absolute; 
        left: 15%;
        top: 5%;
        background-color: #158ac4;
        border: none;
        color: white;
        padding: 0.5% 1%;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1vw;  
        font-family: 'Source Sans Pro', sans-serif;
    }

    .articleTitle {
        position: absolute; 
        left: 15%;
        top: 5%;
        color: white; 
        font-size: 1.5vw; 
        font-family: 'Roboto', sans-serif;
        max-width: 75%;
    }
    .articleDescription {
        position: absolute; 
        left: 15%;
        top: 50%;
        color: white; 
        font-size: .8vw; 
        font-family: 'Roboto', sans-serif;
        max-width: 75%;
    }
    .artAuthor {
        position: absolute; 
        left: 15%;
        top: 90%;
        color: white; 
        font-size: .5vw; 
        font-family: 'Roboto', sans-serif;
    }
    .articleTitleSecondary {
        position: absolute; 
        left: 15%;
        top: 5%;
        color: white; 
        font-size: .6vw; 
        font-family: 'Roboto', sans-serif;
        max-width: 75%;
    }

    .articleDescriptionSecondary {
        position: absolute; 
        left: 15%;
        top: 40%;
        color: white; 
        font-size: .4vw; 
        font-family: 'Roboto', sans-serif;
        max-width: 75%;
    }

    .artAuthorSecondary {
        position: absolute; 
        left: 15%;
        top: 80%;
        color: white; 
        font-size: .3vw; 
        font-family: 'Roboto', sans-serif;
    }

}
/* Savannah Dunlap - Sticky Header */
.sticky {
    background-color: black;
    position: fixed;
    color: white;
    text-align: center;
    padding: 0.5% 1%;
    width: 12%;
    height: auto;
    font-size: 2vw;
    margin-top: 30px;
    margin-left: 50%;
    z-index:10;
    font-family: 'Roboto', sans-serif;
    opacity: .8;
    border-style: solid;
    border-color: white;
    border-width: .5px;
}


