

.hero-image {
    position: relative; 
    
}
.learn-beekeeping {
    
    position: relative; 
    max-width: 100%; 
}

.beekeeping-title {
    
    position: absolute; 
    left: 15%;
    top: 50%;
    color: white; 
    font-size: 4.9vw; 
    font-family: 'Roboto', sans-serif;
    
}

.animal-button {
    
    position: absolute; 
    left: 15%;
    top: 45%;
    background-color: #158ac4;
    border: none;
    color: white;
    padding: 0.5% 1%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vw;  
    font-family: 'Source Sans Pro', sans-serif;

}




/*****
Faith's footer

*****/

.nav li {
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
     
}

/**********************************

Hero Image - before f'ing with media queries 



.hero-image {
    position: relative; 
    
}
.learn-beekeeping {
    
    position: relative; 
    max-width: 100%; 
}

.beekeeping-title {
    
    position: absolute; 
    left: 15%;
    top: 50%;
    color: white; 
    font-size: 50px; 
    font-family: 'Roboto', sans-serif;
    
}

.animal-button {
    
    position: absolute; 
    left: 15%;
    top: 49%;
    background-color: #158ac4;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;  
    font-family: 'Source Sans Pro', sans-serif;

}

**********************************/